c2u_tmp
Color Highlighter
Package Control.cache
SublimeLinter
bh_unicode_properties.cache
encoding_cache.json
Package Control.last-run
Package Control.merged-ca-bundle
Package Control.system-ca-bundle
Package Control.user-ca-bundle